*.xmsgs
*.xreport
*.cmd
*.log
*.c
*.obj
*.didat
*.dbg
*.exe
*.dll
isim/pn_info
*.html
*.cmd_log
*.lso
*.ngr
*.ngc
*.xst
*.gise
*.prj
*.wdb
*.vdb
*.stx
*.xrpt
*.syr
*.ini
*.vho
*.ref
*.xml
*.dat
isim/Testbench_ParallelExecute_isim_beh.exe.sim/tmp_save/_1
*.projectmgr
isim/Testbench_ProgramArgs_isim_beh.exe.sim/tmp_save/_1
*.bgn
*.bld
*.ncd
*.drc
*.pad
*.twr
*.par
*.pcf
*.unroutes
*.twx
*.csv
*.xbcd
*.ngm
*.xwbt
*.mrp
*.xpi
*.ngd
*.ptwx
*.ut
*.nlf
*.xsl
netgen/synthesis/ProgramArgs_synthesis.vhd
*.map
ProgramArgs_pad.txt
*.lst